{% extends 'vanzareBilete/main.html' %}
{% load static %}
{% block content %}
    <div class="carusel-container">
        <div class="poster-container">
            <img src="{% static 'media/posterEvent.png' %}" alt="">
        </div>
        <div class="poster-container">
            <img src="{% static 'media/posterEvent2.png' %}" alt="">
        </div>
        <div class="poster-container">
            <img src="{% static 'media/posterEvent3.png' %}" alt="">
        </div>
    </div>
    <div class="content-container">
        <div class="event-title-section">
            <div class="poster-card-container">
                <img src="{{ eventVariable.image.url }}" alt="">
                <div class="details-group">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>{{eventVariable.data}}</p>
                </div>
                <div class="details-group">
                    <i class="fa-solid fa-map"></i>
                    <a href="">{{eventVariable.location}}</a>
                </div>
            </div>
            <div class="title3-card">
                <div class="title3-card-container">
                    <div class="title3-container">
                        <p>{{eventVariable.denumire}}</p>
                    </div>
                    <div class="social-container">
                        <div class="social-group">
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-tiktok"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-section">
            <h2 class="{% if eventVariable.colorTheme == 'yellow' %} theme-yellow {% elif eventVariable.colorTheme == 'red' %} red-theme {% elif eventVariable.colorTheme == 'blue' %} blue-theme {% elif eventVariable.colorTheme == 'purple' %} purple-theme {% else %} default-theme {% endif %}">About</h2>
            <p class="indent">{{eventVariable.descriere}}</p>
            <p>{{eventVariable.data.day}}th OF {{eventVariable.data | date:"F"}}, {{eventVariable.data.year}}</p>
            <p>{{eventVariable.ora_incepere}} - {{eventVariable.ora_terminare}} (Last Entry 3am)</p>
        </div>
        <div class="tickets-section">
            <h2 class="{% if eventVariable.colorTheme == 'yellow' %} theme-yellow {% elif eventVariable.colorTheme == 'red' %} red-theme {% elif eventVariable.colorTheme == 'blue' %} blue-theme {% elif eventVariable.colorTheme == 'purple' %} purple-theme {% else %} default-theme {% endif %}">Tickets</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="tickets-group">
                    <p>{{ EarlyBird_product.name }}</p>
                    <div class="details-group">
                        <div class="details-group-info">
                            <p>Pre 12am General Entry Ticket</p>
                            <p class="small">18+ ID Required - You must arrive before 12am to make sure your ticket is valid</p>
                            <input type="hidden" name="EarlyBird_price_id" value="{{ EarlyBird_price.id }}">
                        </div>
                        <div class="details-group-price">
                            <p>{{ EarlyBird_price_final }}</p>
                        </div>
                        <div class="details-group-input">
                            <input type="number" name="EarlyBird_quantity" value="0" style="padding-left: 15px;">
                        </div>
                    </div>
                </div>
                <div class="tickets-group">
                    <p>{{ GeneralEntry_product.name }}</p>
                    <div class="details-group">
                        <div class="details-group-info">
                            <p>{{ GeneralEntry_product.description }}</p>
                            <p class="small">18+ ID Required - You must arrive before 3am to make sure your ticket is valid</p>
                            <input type="hidden" name="GeneralEntry_price_id" value="{{ GeneralEntry_price.id }}">
                        </div>
                        <div class="details-group-price">
                            <p>{{ GeneralEntry_price_final }}</p>
                        </div>
                        <div class="details-group-input">
                            <input type="number" name="GeneralEntry_quantity" value="0" style="padding-left: 15px;">
                        </div>
                    </div>
                </div>
                <div class="tickets-group">
                    <p>{{ VIP_product.name }}</p>
                    <div class="details-group">
                        <div class="details-group-info">
                            <p>{{ VIP_product.description}}</p>
                            <p class="small">21+ Access to stage, VIP village including own bars, toilets, food and chill out area</p>
                            <input type="hidden" name="VIP_price_id" value="{{ VIP_price.id }}">
                        </div>
                        <div class="details-group-price">
                            <p>{{ VIP_price_final}}</p>
                        </div>
                        <div class="details-group-input">
                            <input type="number" name="VIP_quantity" value="0" style="padding-left: 15px;">
                        </div>
                    </div>
                </div>
                <div class="tickets-group-total">
                    <div class="details-group-total">
                        <div class="details-group-info-total">
                            <p>Total</p>
                        </div>
                        <div class="details-group-price-total">
                            <p>510 Ron</p>
                        </div>
                        <div class="details-group-total-submit">
                            <input type="submit" value="Cumpara">
                        </div>
                    </div>
                </div>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </form>
        </div>
        <div class="location-section">
            <p id="lan">{{eventVariable.latitudine}}</p>
            <p id="lon">{{eventVariable.longitudine}}</p>
            <h2 class="{% if eventVariable.colorTheme == 'yellow' %} theme-yellow {% elif eventVariable.colorTheme == 'red' %} red-theme {% elif eventVariable.colorTheme == 'blue' %} blue-theme {% elif eventVariable.colorTheme == 'purple' %} purple-theme {% else %} default-theme {% endif %}">{{eventVariable.denumire}} Location</h2>
            <div id="map"></div>
        </div>
    </div>

<script >
    let lat = parseFloat(document.getElementById('lan').textContent);
    let lon = parseFloat(document.getElementById('lon').textContent);


    var map = L.map('map').setView([lat, lon], 15);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.marker([lat,lon]).addTo(map);
</script>
{% endblock %}