<footer>
    <div class="connect_container">
        <p>Connect with us!</p>
        <div class="icons_container">
            <a href="https://www.instagram.com/picnicfonic/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/PicnicFonic/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.tiktok.com/@picnicfonic"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.tiktok.com/@picnicfonic"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="author_reserved_container">
        <i class="fa-solid fa-copyright"></i>
        <p>2024 TECHNO TICKETS ROMANIA</p>
    </div>
</footer>