{% load static %}
<div class="navBar_container">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkBtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul>
            <li><a href="{% url 'home' %}" class="out">Home</a></li>
            <li><a href="{% url 'events' %}" class="out">Events</a></li>
            <li><a href="#"><img src="{% static 'media/logo.png' %}" alt="Techno Tickets Logo"></a></li>
            <li><a href="{% url 'contactUs' %}" class="out">Contact Us</a></li>
            {% if request.user.is_authenticated %}
                <style>
                    ul li a{
                        margin-left: 10px;
                    }
                </style>
                <li><a href="{% url 'my_account' %}" class="out">My Account</a></li>
            {% else %}
                <li><a href="{% url 'log_in' %}" class="out">Log In</a></li>
            {% endif %}

        </ul>
    </nav>
</div>
<hr>
<div class="navBar_container_in">
    <nav>
        <ul>
            <li><a href="#" class="in">Home</a></li>
            <li><a href="#" class="in">Events</a></li>
            <li><a href="{% url 'contactUs' %}" class="in">Contact Us</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'my_account' %}" class="in">My Account</a></li>
            {% else %}
                <li><a href="{% url 'log_in' %}" class="in">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</div>