{% load static %}
<div class="navBar_container">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkBtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul>
            <li><a href="#" class="out">Home</a></li>
            <li><a href="#" class="out">Events</a></li>
            <li><a href="#"><img src="{% static 'media/logo.png' %}" alt="Techno Tickets Logo"></a></li>
            <li><a href="#" class="out">Contact Us</a></li>
            <li><a href="#" class="out">Log In</a></li>
        </ul>
    </nav>
</div>
<hr>
<div class="navBar_container_in">
    <nav>
        <ul>
            <li><a href="#" class="in">Home</a></li>
            <li><a href="#" class="in">Events</a></li>
            <li><a href="#" class="in">Contact Us</a></li>
            <li><a href="#" class="in">Log In</a></li>
        </ul>
    </nav>
</div>